  
  .AddArticle{
    background-color: beige;
  }
  .p1{
    margin-left: 850px;
  }
  .hr1{
    width: 77.5%;
  }
.h1{
    background-color: beige;
}
.f1{
    margin-left: 300px;
    margin-bottom: 50px;  
}
.f2{
    margin-left: 100px;
    margin-bottom: 50px;
}

.f3{
    margin-left: 300px;
    margin-bottom: 50px;
}

.f4{
    margin-left: 300px;
    margin-bottom: 50px;
}
/* .l2{
    margin-right: 400px;
} */

.h1{
  text-align: center;
}
.btn{
  margin-left: 400px;
  width: 20%;
}

.f9{
  margin-left: 300px;
  margin-bottom: 50px;
  width: 50%;
}