  
  .AddArticle{
    background-color: beige;
  }
.h1{
    background-color: beige;
}
.f1{
    margin-left: 300px;
    margin-bottom: 50px;
}
.f2{
    margin-left: 100px;
    margin-bottom: 50px;
}

.f3{
    margin-left: 300px;
    margin-bottom: 50px;
}

.f4{
    margin-left: 300px;
    margin-bottom: 50px;
}
/* .l2{
    margin-right: 400px;
} */