.add-event-page {
  padding: 20px;
  background-color: #f4f4f4;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header {
  font-size: 28px;
  margin-bottom: 30px;
  color: #091160;
  text-align: center;
}
.form-container{
  width: 60%;
  align-items: center;
  }