/* 
.s1{
  margin-left: 300px;
  margin-bottom: 40px;
}
.s0{
  margin-left: 300px;
  margin-bottom: 40px;
}

.s{
  text-align: center;
  
}
.btn1{
  margin-left: 350px;
  width: 45%;
  border-radius: 20px;
  background-color: rgb(16, 16, 39);
}
.s3{
  margin-left: 300px;
  margin-bottom: 40px;
}
.s6{
  margin-left: 120px;
  margin-bottom: 40px;
}
.s8{
  margin-left: 300px;
  margin-bottom: 40px;
  width: 50%;
}
.s10{
  margin-left: 120px;
  margin-bottom: 40px;
}
.s9{
  margin-left: 300px;
  margin-bottom: 40px;
}

 */