.AddVideo{
    background-color: beige;
  }
.hh1{
    background-color: beige;
    text-align: center;
}
.hhr1{
    width: 77.3%;
  }
.pp1{
    margin-left: 850px;
    font-size: 29px;
}
.ff1{
    margin-left: 300px;
    margin-bottom: 50px;
}
.ff2{
    margin-left: 100px;
    margin-bottom: 50px;
}

.ff3{
    margin-left: 300px;
    margin-bottom: 50px;
    width: 650px;
}
.ff4{
    margin-left: 300px;
    margin-bottom: 50px;
}

.ff9{
    margin-left: 300px;
    margin-bottom: 50px;
    width: 50%;
  }


 