.AddVideo{
    background-color: beige;
  }
.hh1{
    background-color: beige;
}
.ff1{
    margin-left: 300px;
    margin-bottom: 50px;
}
.ff2{
    margin-left: 100px;
    margin-bottom: 50px;
}

.ff3{
    margin-left: 300px;
    margin-bottom: 50px;
}
.ff4{
    margin-left: 300px;
    margin-bottom: 50px;
}


 