.form-container5 {
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 0 auto;
}

.form-container h2 {
  font-size: 28px;
  margin-bottom: 30px;
  color: #091160;
  text-align: center;
}

.form-group {
  margin-bottom: 30px;
}

.label {
  font-size: 18px;
  margin-bottom: 10px;
  color: #091160;
}
.header {
  font-size: 40px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn-sub {
  background-color: #091160; 
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 18px;
  margin-top: 20px;
  margin-right: 20%;
}

.btn-sub:hover {
  background-color: #04529e; 
}

.video-list-container {
  margin-top: 100px;
  max-width: 800px;
  margin: 20px auto;
}

.video-item {
  margin-bottom: 20px;
  margin-top: 20px;
}

.video-title {
  font-size: 18px;
  margin-bottom: 5px;
}

.video-description {
  margin-bottom: 10px;
}

.video-player {
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form-control-video {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s;
  visibility: inherit;
}
.add-video-container {
  background-color: #D9D9D94D;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  margin: 0 auto;
  animation: addEvent 0.8s ease-in-out forwards;
}
.add-video-page{
  padding: 20px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 140px;
}