.plus-icon {
    width: 16px;
    height: 16 px;
    color: white;
  }
  .articleNum {
    width: 150px;
    text-align: right;
    height: 50px;
  }
  .AddNotifbtn {
    width: 180px;
    height: 35px;
    border-radius: 25px;
    margin-bottom: 25px;
    background: #091160;
    color: white;
  }
  .delete-icon{
    cursor: pointer;
  }

  .all{
    margin-top: 200px;
    width: 76%;
  }