.EditArticle{
    background-color: beige ;
    
  }
  
.hhh1{
    background-color: beige;
}
.fff1{
    margin-left: 300px;
    margin-bottom: 50px;  
}
.fff2{
    margin-left: 100px;
    margin-bottom: 50px;
    width: 310px;
}
.fff9{
    margin-left: 100px;
    margin-bottom: 50px;
    width: 310px;
}

.fff3{
    margin-left: 300px;
    margin-bottom: 50px;
    width: 470px;
}

.fff4{
    margin-left: 300px;
    margin-bottom: 50px;
    width: 470px;
}
.button2{
    margin-right: 200px;
    color: rgb(8, 8, 24);
}