 
 
h1{
    font-size: 78px;
    margin-bottom: 30px;
    color: #000;
    text-align: center;
    background-color: white;
    color: #000;
font-family: Inder;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.mb3{
    width: 300px;
    margin-right: 200px;
    margin-bottom: 100px;
    
}
.mb4{
    width: 300px;
    margin-right:800px ;
    margin-top: -195px;
    margin-bottom: 10px;
     
}
.fl{
    color: #000;

font-family: Inder;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.fc{
    background-color: rgb(218, 212, 212);
     height: 50px;
}
.fp{
    margin-right: 500px;
    width: 600px;
}
.fl2{
    color: #000;

font-family: Inder;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
background-color: rgb(218, 212, 212);
}
.mb5{
    margin-right: 200px;
}
.fcc{
    background-color:rgb(218, 212, 212) ;
    width:80%;
    height: 200px;
    margin-bottom: 50px;
}
.b1{
    width: 200px;
    margin-right:400px ;
}

.b2{
    width: 200px;
    margin-right: 700px;
    margin-top: -70px;
    border: #000;
    background-color:rgb(218, 212, 212) ;
}