.EditArticle{
    background-color: beige ;
    
  }
  
.hhh1{
    background-color: beige;
}
.fff1{
    margin-left: 300px;
    margin-bottom: 50px;  
}
.fff2{
    margin-left: 100px;
    margin-bottom: 50px;
    width: 310px;
}

.fff3{
    margin-left: 300px;
    margin-bottom: 50px;
    width: 470px;
}

.fff4{
    margin-left: 300px;
    margin-bottom: 50px;
    width: 470px;
}
.btn7{
    margin-bottom: 20px;
    width: 200px;
}
.btn8{
   margin-right: 270px;
   width: 200px;
   margin-top: -100px;
}