.EditVideo{
    background-color: beige;
  }
 
.pppp1{
    margin-left: 850px;
    font-size: 29px;
}
.ffff1{
    margin-left: 300px;
    margin-bottom: 50px;
}
.ffff2{
    margin-left: 100px;
    margin-bottom: 50px;
}

.ffff3{
    margin-left: 300px;
    margin-bottom: 50px;
}
.ffff4{
    margin-left: 300px;
    margin-bottom: 50px;
}