.edit-event-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 50px;
    height:100vh;
    overflow: hidden;
    overflow-y: hidden;
}

.edit-event-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    
}

.edit-event-label {
    font-weight: bold;
}

.edit-event-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.image-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.image-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.image-label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;    
    position: relative;
    display: inline-block;
    cursor: pointer;
}
 .btn-container1{
    display: flex;
    justify-content: space-between;
    padding: 4px 10px;
}


