.edit-faq-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #5e565610;
}

.edit-faq-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.edit-faq-label {
    font-weight: bold;
}

.edit-faq-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.save-icon,
.cancel-icon {
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.save-icon:hover,
.cancel-icon:hover {
    filter: brightness(0.8);
}

.btns {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.btn-container4 .btn-submit {
    background-color: #091160;
    color: white;
    padding: 10px 10px;
    font-size: 19px;
    margin: 30px 60px;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bold;
}
