/* .EditVideo{
    background-color: beige;
  } */
 
.hhhh1{
    background-color: beige;
}
.ffff1{
    margin-left: 300px;
    margin-bottom: 50px;  
    width: 200px;
}
.ffff2{
    margin-left: 100px;
    margin-bottom: 50px;
    width: 200px;
}
.ffff9{
    margin-left: 100px;
    margin-bottom: 50px;
    width: 200px;
}

.ffff3{
    margin-left: 300px;
    margin-bottom: 50px;
    width: 460px;
}

.ffff4{
    margin-left: 300px;
    margin-bottom: 50px;
    width: 460px;
}
.v3{
    width: 470;
}
.btnn1{
    margin-bottom: 20px;
    width: 200px;
}
.btnn2{
   margin-right: 270px;
   width: 200px;
   margin-top: -100px;
}