/* .header {
    font-size: 78px;
    margin-bottom: 30px;
    color: #000;
    text-align: center;
    background-color: white;
}
.form-group9{
    margin-top: 100px;
    width: 100px;
    margin-right: 100px;
    

}
.form-group10{
    margin-top: -84px;
    margin-right: 300px;
    width: 100px;
    margin-right: 900px;

}
.lable9{
    font-size: 30px;
    margin-bottom: 10px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.lable10{
    font-size: 30px;
    margin-bottom: 10px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.form-control9{
    border:none;
    background-color: gray;
    width: 400px;
    height: 60px;
}

.form-control10{
    border:none;
    background-color: gray;
    width: 400px;
    height: 60px;
} */