.event-card-container {
    display: inline-flex;
    flex-direction: row; 
    width: calc(33.33% - (20px)); /* Adjust width based on desired gap between cards */
    margin-right: 20px; /* Gap between cards */
    margin-bottom: 25px; /* Gap between rows */
    border: 1px solid #ddd; /* Border for the card */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for a slight elevation effect */
    text-align: center;
    vertical-align: top; /* Align cards to the top of the row */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    background-color: #fff; /* Background color for the card */
    transition: transform 0.2s; /* Smooth transition for hover effect */
    animation: fadeIn 0.5s ease; /* Animation for fading in */
    height: 415px;
    overflow: hidden;
}

.event-card-container:hover {
    transform: translateY(-5px); /* Move card slightly upwards on hover */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Increase box shadow on hover for a subtle elevation effect */
}

.event-card-container:nth-child(3n) {
    margin-right: 0; /* Removes margin for every third card to ensure alignment */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px); /* Start animation from slightly above */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Move to original position */
    }
}

.event-card-item {
    width: 100%; 
    padding: 5px;
}

.event-card-address {
    padding: 10px; /* Padding for the address text */
    font-size: 1.2rem; /* Adjust font size for the address */
    font-weight: bold;
    width: auto;
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;    
    
}

.location-card-container {
    padding: 10px; 
    font-style: italic;
    font-weight: 500;
    width: auto;
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;  
}

.location-icon {
    width: 20px; /* Adjust size of the location icon */
    margin-right: 5px; /* Margin between icon and text */
}

.event-card-date {
    padding: 10px; /* Padding for the date */
    font-size: 2rem; /* Adjust font size for the day */
    font-weight: bold; /* Make the day bold */
    margin-bottom: 5px; /* Add some space between the day and the month */
    text-align: center; /* Center the date */
}

.day {
    font-size: 2.6rem; /* Adjust font size for the month */
    color: #d61c1c; /* Color for the day */
}

.event-card-month {
    font-size: 1.3rem; /* Adjust font size for the month */
    color: #777; /* Color for the month */
    text-transform: uppercase; /* Uppercase the month */
}

.event-card-link {
    display: block;
    padding: 10px; /* Padding for the link */
    text-align: center;
    color: #007bff; /* Link color */
}

.event-card-image {
    max-height: 200px; /* Set maximum height for the image */
    width: auto; /* Let the width adjust automatically to maintain aspect ratio */
    border-radius: 8px 8px 0 0; /* Rounded corners for top of the image */
    max-width: 100%;
}

.event-card-content {
    padding: 10px; /* Padding for the content */
    font-weight: 500;
    font-size: 1rem; /* Adjust font size for the content */
    color: #333; /* Text color for the content */
    
}

.source-name {
    font-size: 1rem; /* Adjust font size for the source name */
    color: #777; /* Text color for the source name */
    margin-top: 5px; /* Add some space between the content and the source name */
    font-weight: 600;
}

.load-more-button1 {
    display: block;
    margin: 0 auto;
    padding: 10px 20px; /* Padding for the button */
    font-size: 1rem; /* Adjust font size for the button */
    font-weight: bold; /* Make the button text bold */
    color: #fff; /* Text color for the button */
    background-color: #007bff; /* Background color for the button */
    border: none; /* Remove border */
    border-radius: 50px; /* Rounded corners for the button */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.2s; /* Smooth transition for hover effect */
}

.load-more-button1:hover {
    background-color: #0056b3; /* Darker background color on hover */
}


.event-card-date1 {
    font-size: 15px; /* Adjust font size as needed */
    font-weight: bold; /* Make the date bold */
    margin-bottom: 10px; /* Add some spacing below the date */
    text-align: left;
    padding-left: 10px;
  }
  
  .day1 {
    color: #0f9d3e; /* Set color for the day */
    margin-right: 5px; /* Add some spacing between day and month */
  }
  
  .event-card-month1 {
    color: #4b0082; /* Set color for the month */
  }
  .flex-container{
    display: inline-flex;
    flex-wrap:unset;
    width: 100%;
    height: 50%;
  }
  .news-item-content{
    padding: 10px; /* Padding for the content */
    font-weight: 500;
    font-size: 1rem; /* Adjust font size for the content */
    color: #333; /* Text color for the content */
    text-align: right;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;  
  }
 
  @media (max-width: 768px) {
    .event-card-container {
      width: 100%; 
      margin-right: 0;
      margin-bottom: 25px; 
    }
  }
  
  @media (min-width: 768px) {
    .event-card-container {
      width: calc(33.33% - 20px); 
    }
  }
  