.pagination {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    z-index: 999;
}

.page-item {
    margin: 0 10px;
}

.page-btn {
    text-decoration: none;
    color: #000000;
    padding: 8px 12px;
    border-radius: 50%;
    border: 1px solid #000000;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
}

.page-btn:hover {
    background-color: #434343;
    color: #ffffff;
}

.page-btn.active {
    background-color: #434343;
    color: #ffffff;
}

.page-btn.disabled {
    pointer-events: none;
    background-color: #d3d3d3;
    color: #777777;
}

.page-btn:active {
    background-color: #434343;
    color: #ffffff;
}

.page-btn:focus {
    outline: none;
}

.arrow-icon {
    width: 25px; 
    height: auto; 
    margin-right: 5px; 
    border: none;
    
}
.watch-icon{
    width: 25px; 
    height: auto; 
    margin-right: 5px; 
    border: none;
}
h2{
    text-align: center;
    padding-right: 290px;
    padding-top: 20px;
    animation: events 0.8s ease-in-out forwards;

}
@keyframes events {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/* .add-event-btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #434343;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    z-index: 999;
} */
.total-events{
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    color: #000;
    font-size: large;
    font-style: italic;
    font-weight: bold;
}
.total-events span{
    color: red;
    font-weight: bold;
}