footer {
  background: #e1e8f066;
  color: #000000;
  padding: 20px 0;
}
.footer-logo img {
  max-width: 100px;
}
.footer-links {
  list-style-type: none;
  padding: 0;
  color: #363636;
  text-decoration: none;
  margin-top: 20px;
}
.footer-links:hover {
  color: #0910f1;
}
.footer-links li {
  display: inline-block;
  margin-right: 20px;
}
.footer-social-icons {
  margin-top: 20px;
}
.footer-social-icons a {
  color: #000000;
  margin-right: 10px;
}
.containerxxl{
  font-family: 'Cairo', sans-serif; 
  font-weight: bold;
}
