  /* Additional styling for the heading and description */
  .heading {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    text-align: right;
    margin-top: 30px;

  }
  
  .description {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: right;
    padding-right: 20px;
  }
  
  .description .links {
    color: #2737c8;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    padding-right: 65px;
  }
  
  .description .links:hover {
    text-decoration: underline;
    color: #fc5007;
  }
  .page-section{
    top: 0;
    }
  .load-more-button{
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #2737c8;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    float: left;
  }
.send-notification-section{
    padding: 50px 0;
    background-color: #000000;
    color: #fff;
    margin: 0 auto;
    border-radius: 15px;
    margin-top: 50px;
    
  }
  .send-notification-section .heading{
    text-align: center;
  }
  .send-notification-section .description{
    text-align: center;
  }
.notification-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    margin-left: 430px;
  }
.send-notification-button{
    padding: 10px 20px;
    background-color: #2737c8;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .send-notification-button:hover{
    background-color: #fc5007;
  }
  .send-notification-button:disabled{
    background-color: #ccc;
    cursor: not-allowed;
  }
  .send-notification-button:disabled:hover{
    background-color: #ccc;
  }

/*chat bot styling*/

.chatbot-section {
  position: fixed;
  bottom: 15px; 
  left: 855px;
  z-index: 9999;
}
.card5 {
  width: 325px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.chat-header {
  background-color: #1dab40;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-window {
  height: 450px;
  overflow-y: scroll;
  padding: 5px;
}

.message-list {
  list-style: none;
  margin: 0;
  padding: 0;
  
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
  
}

.message-input {
  flex: 1;
  outline: none;
  padding: 5px;
  font-size: 14px;
  margin-top: 0px;
  border-radius: 15px;
  border: 1px solid #ccc;
  transition: all 0.3s ease-in-out;

}

.send-button {
  border: none;
  outline: none;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 15px;
  margin-left: 7px;
  transition: all 0.3s ease-in-out;
 }

.send-button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}
.chatbot-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  cursor: pointer;
}

.chatbot-icon img {
  width: 50px; /* Adjust size as needed */
  height: auto;
  background-image: url("../assets/icons/robot_assistant.svg");
}
.message{
  background-color: #f1f0f0;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  max-width: 290px;
  word-wrap: break-word;
}
.user-message{
  background-color: #2737c8;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  max-width: 290px;
  word-wrap: break-word;
}

.close-chatbot{
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
}
.close-chatbot:hover{
  background-color: #fff;
  color: #2737c8;
  border-radius: 50%;
}
.response-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}
/* Styling for chatbot question */
.chatbot-question {
  background-color: #f1f0f0;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  max-width: 290px;
  word-wrap: break-word;
}

/* Styling for chatbot response */
.chatbot-response {
  background-color: #2737c8;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  max-width: 290px;
  word-wrap: break-word;
  margin-top: 10px;
}
