.login-page {
    background-image: url('../assets/images/examhall.jpeg');
    background-size: cover;
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.login-container {
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    position: relative;
    backdrop-filter: blur(2px); 
    background-color: rgba(196, 196, 196, 0.5); 
    animation: slideIn 1s ease-in-out;
    margin-left: 430px;
    margin-top: 25px;
}

.logo img {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

.header {
    font-family: 'Inder', sans-serif;
    font-size: 35px;
    margin-bottom: 40px; 
    color: #091160; 
    font-weight: bold;
    animation: slideIn 1s ease-in-out; 

}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.form-group {
    margin-bottom: 20px;
    position: relative; 
    left: 5px;
}

.btn-submit {
    background-color: #091160;
    color: white;
    padding: 14px 0; 
    border: none;
    border-radius: 18px;
    cursor: pointer;
    font-size: 18px;
    width: 85%; 
    transition: background-color 0.3s;
    margin-top: 0px;
}

.btn-submit:hover {
    background-color: #06384d;
}

.remember-me{
    font-size: 18px;
    color: #091160;
    font-weight: bold;
    transition: color 0.3s ease;
}

input[type="email"],
input[type="password"] {
    padding: 12px 20px;
    border-bottom: 2px solid #000000;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    direction: rtl;
    text-align: right;
    width: calc(100% - 1px); 
    margin-bottom: 20px;
    background-position: 10px center;
    text-indent: 10px;
    backdrop-filter: blur(1px); 
    background-color: rgba(254, 254, 254, 0.663); 
}

input[type="username"] {
    background-image: url("../assets/icons/mail_FILL0_wght400_GRAD0_opsz24.svg");
    background-repeat: no-repeat;
    background-size: 25px 25px;
}

input[type="password"] {
    background-image: url("../assets/icons/enhanced_encryption.svg");
    background-repeat: no-repeat;
    background-size: 25px 25px;

}
.logo{
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {
    text-decoration: underline;
    color: #091160;
    font-size: 18px;
    margin-bottom: 10px;
    transition: color 0.3s ease;
    background-color:  rgba(254, 254, 254, 0.192);
    font-weight: bold;
}

.link:hover {
    color: #f1f1f1;
}
.login-page-body {
    display: block;
}
