.h1{
    color: #000;

 
/* Text */
font-family: Inder;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.p1{
    /* width: 1528px; */
    color: #000;

 
font-family: Inder;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
opacity: 0.7;
}