/* .article-container {
    position: relative;
    width: 300px; /* تعيين عرض الصورة حسب الحاجة 
  }
  
  .article-image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .article-details {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5); /* لون خلفية النص مع شفافية 
    color: #fff; /* لون النص
    padding: 10px;
  }
  
  .article-title,
  .article-source {
    margin: 0;
  } */


  /* .article-container {
    position: relative;
}

.article-image {
    width: 20%;
    height: auto;
    display: block;
}

.article-details {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5); /* خلفية شفافة 
    color: #fff; /* لون النص 
    padding: 10px;
    width: 10%;
    text-align: right;
}

.article-title,
.article-source,
.article-date {
    margin: 0;
} */