/* styles.css */
.post-details-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  .postImg{
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
   max-width: 120px;
  }
  
  .post-info {
    margin-bottom: 20px;
  }
  
  .post-title {
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
  }
  
  .post-description {
    font-size: 20px;    
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;

  }
  
  .post-player {
    width: 100%;
    height: 500px;
  }

  .comment-box{
    margin-top: 20px;
    height: auto;
    width: 50%;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    text-align-last: right;
  }
  .avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
  }
  .comment-header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .comment-content{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 90px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  .single-comment{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #cccccc86;
    border-radius: 20px;
  }
a{text-decoration: none;}