
  .postsNum {
    width: 150px;
    text-align: right;
    height: 50px;
  }
  
  .delete-icon{
    cursor: pointer;
  }

  
.post {
    display: flex;
    align-items: center;
  }
  
  .post-image {
    width: 60px; 
    height: 100%px;
    margin-right: 10px; 
    margin-left: 20px;
  }
  
  .icon {
    cursor: pointer; 
    margin-right: 2px; 
  }