.show-posts-blur-background {
  top: 50px;
  left: 10px;
  height: 100%;
  width: 80%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s ease-in-out forwards;
  border-radius: 15px;
  box-shadow: 0px 10px 20px -7px gray;
  overflow-y: auto;
  background-color: #ffffff5d;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.post-item-image {
  width: 77px;
  height: 76px;
  border-radius: 10%;
  object-fit: cover;
}

