/* *{
  background-color: #FFF;
} */


.sideBar {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 296px; 
  height: 100%; /* Set height to 100% to cover the entire height of the viewport */
  padding: 15px;
  position: fixed;
  top: 0;
  right: 0;
}

.side2 {
  width: 366px; /* Adjust the width as needed */
  height: 100%; /* Set height to 100% to cover the entire height of the viewport */
  background: var(--White, #FFF);
  flex-shrink: 0;
  color: #000000; /* Example text color */
}

.logo {
  width: 100%; /* Set the width to 100% to fill the container */
  height: auto; /* Let the height adjust proportionally based on the width */
  max-width: 200px; /* Set a maximum width to prevent the logo from becoming too large */
  margin: 20px auto; /* Center the logo horizontally with auto margins */
}


.menuItemWrapper {
  flex-grow: 1;
}
