.sideBar {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 256px;
  height: 100vh;
  padding: 15px;
  box-shadow: 4px 4px 15px rgba(0.25, 0, 0, 0.25);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  overflow-y: hidden; /* Enable vertical scrolling */
}

.side2 {
  width: 326px;
  background: var(--White, #FFF);
  color: #000000;
}

.logo {
  width: 100%;
  height: auto;
  max-width: 160px;
  margin: 20px auto;
}

.menuItemWrapper {
  flex-grow: 1;
}
.sideBar::-webkit-scrollbar {
  display: none;
}
