.video-card {
    width: calc(40% - 10px); 
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block; 
    max-width: 450px;
    min-width: 380px;
  }
  
  .video-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  .video-player1 {
    width: 100%;
    height: 100%;
    max-height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .video-info {
    flex: 1;
    padding: 10px;
    text-align: center;
  }
  
  .video-title {
    font-family: Inder;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
  }
  
  .video-description {
    font-family: Inder;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    color: #565555;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .delete-btn1,
  .edit-btn1 {
    background-color: #ff0303;
    color: white;
    padding: 14px 50px;
    margin: 8px;
    cursor: pointer;
    opacity: 0.9;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    font-weight: bold;
    font-size: large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .edit-btn1{
    background-color: #039f25;
  }
  
  .delete-btn1:hover,
  .edit-btn1:hover {
    opacity: 1;
  }
  .video-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  .btns {
    display: flex;
    justify-content: space-between; 
  }