.profile-container {
  display: flex;
  margin-top: 20px;
  margin-left: 180px;  
  overflow-x: hidden;
}

.sidebar {
  width: 250px;
  background-color: #f0f0f0;
  padding: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.sidebar h3 {
  margin-bottom: 20px;
}

.sidebar button {
  background-color: #ff6666;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.sidebar button:hover {
  background-color: #ff4d4d;
}

.content {
  flex: 1;
  padding: 20px;
}

.profile-form {
  display: flex;
  flex-direction: column;
}

.profile-form input,
.profile-form button {
  margin-bottom: 10px;
  padding: 10px;
}

.image-preview {
  max-width: 200px;
  margin-bottom: 10px;
}

.profile-form button {
  background-color: #009933;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.profile-form button:hover {
  background-color: #007a29;
}
/* Genel stil */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin: 10px;
}

/* Giriş stil */
.toggle-switch .toggle-input {
  display: none;
}

/* Anahtarın stilinin etrafındaki etiketin stil */
.toggle-switch .toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 24px;
  background-color: #2196F3;
  border-radius: 34px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Anahtarın yuvarlak kısmının stil */
.toggle-switch .toggle-label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

/* Anahtarın etkin hale gelmesindeki stil değişiklikleri */
.toggle-switch .toggle-input:checked + .toggle-label {
  background-color: #4CAF50;
}

.toggle-switch .toggle-input:checked + .toggle-label::before {
  transform: translateX(35px);
}

/* Light tema */
.toggle-switch.light .toggle-label {
  background-color: #BEBEBE;
}

.toggle-switch.light .toggle-input:checked + .toggle-label {
  background-color: #9B9B9B;
}

.toggle-switch.light .toggle-input:checked + .toggle-label::before {
  transform: translateX(6px);
}

/* Dark tema */
.toggle-switch.dark .toggle-label {
  background-color: #4B4B4B;
}

.toggle-switch.dark .toggle-input:checked + .toggle-label {
  background-color: #717171;
}

.toggle-switch.dark .toggle-input:checked + .toggle-label::before {
  transform: translateX(16px);
}
/* Add this CSS to your Profile.css file */
.profile-table-container {
  margin-top: 20px;
}

.profile-table {
  width: 100%;
  border-collapse: collapse;
}

.profile-table th,
.profile-table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: right;
}

.profile-table th {
  background-color: #d22323;
  color: #333;
  font-weight: bold;
}

.profile-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.profile-table tr:hover {
  background-color: #ddd;
}

